.Header {
    text-align: center;
    border-bottom: 2px solid orange;
    background-color: #fff;
    color: #333;
    min-height: 150px;
    padding: 20px;
  }
  
  .Header-container {
    display: inline-block;
    width: 100%;
  }
  
  .Header-title {
    font-size: 1.5em;
  }
  
  .Header-intro {
    font-size: large;
  }

  .Header-logo {
    float: left;
  }